@font-face {
    font-family: Happy;
    src: url(./Happy.ttf);
}

.container{
    position: absolute;
    left: 22%;
    bottom: 8%;
    transform: translateX(-50%);
    width: 8vw;
    height: 4vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#velocidad{
    position: absolute;
    font-family: Happy;
    font-size: 40px;
    color:white;
    text-shadow:rgb(0, 0, 0); 
    left: 400%;
    bottom: -70%;
}

#gasolina-icon{
    position: absolute;
    color: rgb(255, 255, 255);
    left: 400%;
    text-shadow:rgb(0, 0, 0); 
    bottom: -90%;
}

#velo-icon{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 13px;
    left: 400%;
    text-shadow:rgb(0, 0, 0); 
    bottom: -10%; 
}

#gasolina{
    position: absolute;
    font-family: Happy;
    font-size: 14px;
    text-shadow:rgb(0, 0, 0); 
    color: white;
    left: 430%;
    bottom: -90%;
}

#km{
    position: absolute;
    font-family: Happy;
    text-shadow:rgb(0, 0, 0); 
    font-size: 14px;
    color: white;
    left: 422%;
    bottom: -10%;
}